* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6483b1;
    border: 1px solid #000000;
    z-index: 1000;
}

.button-container {
    text-align: center;
    position: fixed;
    top: 55px;
    background-color: #d0d0d0;
    padding: 5px;
    width: 100%;
    z-index: 1000;
}

body {
    width: 100%;
    box-sizing: border-box;
    font-family: 'Encode Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    padding-top: 130px;
}



h1 {
    padding-left: 550px;
    text-align: center;

}

.h1 {
    text-align: center;
    padding-left: 50px;
}

main {
    text-align: center;
    width: 100%;
}

button {
    margin-top: 10px;
    margin-bottom: 5px;
}

/* Main container style */
#app {
    max-width: 100%;
    margin: auto;
    padding: auto;
}

/* Define the grid container style */
.product-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Define the individual product box style */
.product-box {
    display: flex;
    width: 30%;
    border: 5px solid #606d82;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.product-box1 {
    display: inline-block;
    width: 30%;
    height: 500px;
    border: 5px solid #606d82;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    vertical-align: top;
    flex-wrap: wrap;
}


.btn.btn-primary {
    color: #fff;
    border-radius: 10px;
    background-color: #007bff;
    border-color: #007bff;
}

.btn.btn-primary:hover {
    color: #fff;
    background-color: #16589f;
    border-color: #16589f;
}

.btn.btn-primary1 {
    color: #fff;
    border-radius: 10px;
    background-color: #5c5f67;
    border-color: #060606;
}

.btn.btn-primary1:hover {
    color: #fff;
    background-color: #202121;
    border-color: #545b62;
}

.btn.btn-secondary {
    color: #fff;
    border-radius: 10px;
    background-color: #5c5f67;
    border-color: #6c757d;
}

.btn.btn-secondary:hover {
    color: #fff;
    background-color: #202121;
    border-color: #545b62;
}

.custom-footer {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 300px;
    height: 350px;
    margin: 10px auto;
    padding: 20px;
}

.form-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.input-box {
    margin-bottom: 30px;
}

.input-box label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-box input {
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.order-info {
    margin-top: 20px;
    margin-bottom: 100px;
    height: 60px;
}