<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google api fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Encode+Sans:wght@300&family=Poppins:wght@300&display=swap"
        rel="stylesheet">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/all.min.css">

    <link rel="stylesheet" href="css/style.css">
    <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
    <title>Bridge Course Store app</title>

</head>

<body>
    <div id="app">
        <header>
            <h1 style="font-weight: bold" v-text="sitename"></h1>

            <button class="btn btn-primary" v-on:click="showCheckout" :disabled="!showCheckoutButton">
                {{itemsInCart}}
                <span class="fa-solid fa-cart-shopping"></span> Checkout
            </button>
        </header>
        <!-- ... Sort button ... -->
        <div class="button-container" v-if="showProduct">
            <button class="btn btn-secondary" v-on:click="showAsc('title'); sortBy('title');">Sort by Title</button>
            <button class="btn btn-secondary" v-on:click=" showAsc('location'); sortBy('location');">Sort by Location</button>
            <button class="btn btn-secondary" v-on:click="showAsc('price'); sortBy('price');">Sort by Price</button>
            <button class="btn btn-secondary" v-on:click=" showAsc('seat'); sortBy('seat');">Sort by Seat</button>
            <div style="display: inline-block;" v-if="showDefault">
                <span v-if="showArrowIcon" class="fa-solid fa-arrow-up fa-lg"></span>
                <span v-else class="fa-solid fa-arrow-down fa-lg"></span>
            </div>
        </div>

        <main>
            <div class="product-container" v-if="showProduct">

                <div v-for="item in products" class="product-box">
                    <div>
                        <figure>
                            <img v-bind:src="item.image" alt="Book pic" style="max-width: 40%; height: auto;">
                        </figure>
                        <h4>{{item.title}}</h4>
                        <p>Location: {{item.location}}</p>
                        <p>Price: £{{item.price}}</p>
                        <p>Seats: {{item.availableInventory}}</p>

                        <button v-if="canAddToCart(item)" class="btn btn-primary" v-on:click="addItemToCart(item)">Addto Cart</button>
                        <div v-else>    
                            <button class="btn btn-secondary" disabled>Add to Cart</button>
                            Out of Stock
                        </div>
                    </div>
                </div>
            </div>
            <!-- Checkout Page -->
            <div v-else>
                <h1 class="h1">Welcome to the Checkout Page</h1>
                <div v-for="(cartItem, index) in cartItemsWithQuantity" :key="index" class="product-box1">
                    <div>
                        <figure>
                            <img v-bind:src="cartItem.item.image" alt="Book pic" style="max-width: 40%; height: auto;">
                        </figure>
                        <h4>{{cartItem.item.title}}</h4>
                        <p>Location: {{cartItem.item.location}}</p>
                        <p>Price: £{{cartItem.item.price}}</p>
                        <p>Quantity: {{cartItem.quantity}}</p>
                        <button class="btn btn-danger" v-on:click="removeItemFromCart(index)">Remove from Cart</button>
                    </div>
                </div>
                <footer class="custom-footer">
                    <div class="form-box">
                        <div class="input-box">
                            <label for="name">Full Name</label>
                            <input type="text" id="name" name="name" placeholder="Enter full name" v-model.trim="name" required/>
                            <span style="color: red; font-size: 14px;" v-if="!checkInput" >Please type only characters.</span>
                        </div>
                        <div class="input-box">
                            <label for="phone">Phone Number</label>
                            <input type="tel" id="phone" name="phone" placeholder="Enter phone number"
                                v-model.trim="phoneNumber" maxlength="10" required>
                            <span style="color: red; font-size: 14px;" v-if="!checkPhoneInput" >Please type atleast 10 numbers.</span>
                        </div>
                        <button type="submit" @click="submitOrder" class="btn btn-primary" :disabled="!isFormValid">Order</button>
                       
                    </div>
                </footer> 
                <div class="order-info">
                    <h2><b>Order Information</b></h2>
                    <p><b>Full Name :</b> {{name}}</p>
                    <p><b>Phone Number  :</b> {{phoneNumber}}</p>
                </div>
            </div>
        </main>

    </div>

 <script type="module">
    import lessons from './lessons.js';

    new Vue({
        el: "#app",
        data: {
            sortDirection: {
                title: 1,
                location: 1,
                price: 1,
                seat: 1,
            },
            sitename: "Bridge Course Store",
            showProduct: true,
            products: lessons,
            name: '',
            phoneNumber: '',
            showArrow: true,
            showDefault: false,
            cart: [],
        },
            computed: {
                cartItemsWithQuantity: function () {
                    const cartItemsWithQuantity = [];
                    this.cart.forEach((item) => {
                        const existingItem = cartItemsWithQuantity.find((cartItem) => cartItem.item.id === item.id);
                        if (existingItem) {
                            existingItem.quantity++;
                        } else {
                            cartItemsWithQuantity.push({ item: item, quantity: 1 });
                        }
                    });
                    return cartItemsWithQuantity;
                },
                showCheckoutButton(){
                    return this.cart.length > 0;
                },
                itemsInCart: function () {
                    return this.cart.length || "";
                },
                checkInput: function () {
                    const namePattern = /^[a-zA-Z]+$/;
                    return namePattern.test(this.name);
                },
                checkPhoneInput: function () {
                    const phonePattern = /^[\d]{10}$/;
                    return phonePattern.test(this.phoneNumber);
                },
                isFormValid: function () {
                    return this.checkInput && this.checkPhoneInput;
                },
                showArrowIcon() {
                    return this.showArrow;
                }
                
            },
            methods: {
                showCheckout: function () {
                    this.showProduct = this.showProduct ? false : true;
                },
                addItemToCart: function (item) {
                    if (item.availableInventory >= 1) {
                        this.cart.push(item);
                        item.availableInventory -= 1;
                    }
                },
                removeItemFromCart: function (index) {
                    const removedItem = this.cart.splice(index, 1);
                    removedItem.availableInventory += 1;
                    if (this.cart.length == 0){
                        this.showProduct = true;
                    }
                },
                canAddToCart: function (item) {
                    return item.availableInventory > 0;
                },

                sortBy: function (key) {
                    const direction = this.sortDirection[key];
                    if (key === "title") {
                        this.products.sort((a, b) =>
                            (a.title > b.title ? 1 : -1) * direction
                        );
                    } else if (key === "location") {
                        this.products.sort((a, b) =>
                            (a.location > b.location ? 1 : -1) * direction
                        );
                    } else if (key === "price") {
                        this.products.sort((a, b) => 
                        (a.price - b.price) * direction);
                    } else if (key === "seat") {
                        this.products.sort((a, b) => 
                          (a.availableInventory - b.availableInventory) * direction
                        ); 
                    }
                    this.sortDirection[key] = -direction;

                },
                submitOrder: function () {
                    // Check form validity again to be safe
                    if (this.isFormValid) {
                        // Show order confirmation
                        alert('Order confirmed!');
                    }

                    
                },
                showAsc: function (key) {
                    this.showDefault = true;
                    if (this.sortDirection[key] == 1){
                        this.showArrow = true;
                    } else{
                        this.showArrow = false;
                    }
                }

            }


        })
    </script>
</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
    crossorigin="anonymous"></script>

</html>